body{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  user-select: none;
}

.titulo-painel-selecionar{

    color: #0D3859;
    font-size: 5em;
    font-style: italic;
    text-align: center;
  
  
}

select{
  background-color: #212121;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  color: #fff;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  min-width: 900px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #0D3859, #296F85);

}

option{
  color: #000000;
}


button{
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  color: #fff;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  min-width: 900px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #0D3859, #296F85);
  outline: none;
  border: none;
}

p{
  font: bold;
  color: #000000;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-painel{
  width: 25%;
  height: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
}

