:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d9d9d9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#tipoSelect{
  width: 70%;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.3em;;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  text-align: left;
  outline: none;
}

.logo-painel {
  width: 40%;
}

.titulo-painel-selecionar {
  font-size: 30px;
  margin-top: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: #3b3b3b;
  margin-top: 2em;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 20px 225px 20px 225px;
  font-size: 30px;
}
