body {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  user-select: none;
}

.titulo-painel-selecionar {
  color: #0d3859;
  font-size: 3em;
  font-style: italic;
  text-align: center;
}

select {
  background-color: #212121;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  color: #fff;
  width: 45%;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #0d3859, #296f85);
}

option {
  color: #000000;
}

button {
  width: 45%;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  color: #fff;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #0d3859, #296f85);
  outline: none;
  border: none;
}

p {
  font: bold;
  color: #000000;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-painel {
  width: 25%;
  height: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
}

@media only screen and (max-width: 1215px) {
  .logo-painel {
    width: 30%;
  }

  .titulo-painel-selecionar {
    font-size: 30px;
  }

  select,
  button {
    width: 90%;
    font-size: 15px;
  }

  p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .logo-painel {
    width: 50%;
  }

  .titulo-painel-selecionar {
    font-size: 30px;
  }
}

@media only screen and (max-width: 200px) {
  .logo {
    width: 80%;
  }

  h1 {
    font-size: 20px;
  }
}
