:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  user-select: none;
  height: auto;
}

h1 {
  color: #0D3859;
  font-size: 5em;
  font-style: italic;
  text-align: center;
}

.logo{
  width: 25%;
  height: 40%;
  margin-top: 30px;
  align-self: center;
}


.btn_inciais{
  margin: 30px;
  border: none;
  width: 45%;
  border-radius: 8px;
  padding: 1.2em 1.2em;
  font-size: 3em;
  font-weight: 900;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #0D3859, #296F85); 
  background-size: 200% 100%; 
  transition: background-position 0.3s ease; 
  text-align: center;
}


.btn_laboratoriais{
  margin: 30px;
  border: none;
  width: 45%;
  border-radius: 8px;
  padding: 0.8em 1.2em;
  font-size: 3em;
  font-weight: 900;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #0D3859, #296F85); 
  background-size: 200% 100%; 
  transition: background-position 0.3s ease;
  text-align: center;
}

.btn_laboratoriais:hover, .btn_inciais:hover {
  background-color: #c00000;
  background-position: -100% 0;

}

@media only screen and (max-width: 1215px) {

  .logo{
    width: 30%;
  }

  h1{
    font-size: 30px;
  }
  
  .btn_inciais{
    width: 85%;
    font-size: 2em;
    padding: 1.5em 1em 1.5em 1em;
    margin: 12px;
  }
  
  
  .btn_laboratoriais {
    margin: 12px;
    width: 85%;
    font-size: 2em;
    padding: 1.5em 1em 1.5em 1em;
  }
}

@media only screen and (max-width: 700px){
    
  .logo{
    width: 50%;
  }

  h1{
    font-size: 30px;
  }

  .btn_inciais{
    width: 80%;
    font-size: 1em;
    padding: 1.5em 1em 1.5em 1em;
    margin: 10px;
  }
  
  
  .btn_laboratoriais {
    width: 80%;
    font-size: 1em;
    padding: 1.5em 1em 1.5em 1em;
    margin: 10px;
  }
}
